<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phone shop</title>
    <link rel="stylesheet" href="/style/main.css" />
    <meta name="Author" content="Nazar Zavrin" />
    <meta name="Copyright" content="Nazar Zavrin" />
</head>

<body>
    <div class="wrapper">
        <header>
            <button type="button" id="account-btn">
                <img src="/img/avatar.png"
                    onerror="event.target.setAttribute('src', '/img/1x1-transparent.png'); event.target.onerror = null;">
            </button>
            <span id="customer-name"></span>
            <button class="view-basket-btn">Кошик</button>
        </header>
        <section class="filter-section">
            <header>Фільтр бренду:</header>
            <select id="brand-filter">
                <option value="none">Усі бренди</option>
                <% for(const brand of brands){ %>
                    <option value=<%= brand %>><%= brand %></option>
                <% } %>
            </select>
        </section>
        <main>
            <% for(const product of products){ %>
                <section class="product" <%= product.amount == 0 ? 'style=opacity:0.5;' : "" %>>
                    <div class="image">
                        <img src="/img/<%= product.image_name %>" onerror="event.target.setAttribute('src', 
                        '/img/1x1-transparent.png'); event.target.onerror = null;">
                    </div>
                    <div class="product_main_info" data-product_main_info="<%= product.brand + "|" + product.model %>">
                        Мобільний телефон <%= product.brand %>
                            <%= product.model %>
                    </div>
                    <div class="product__price">
                        Ціна: <%= product.price %> грн.
                    </div>
                    <% if(product.amount == 0) { %>
                        <div class="product__availability">
                            Немає в наявності
                        </div>
                    <% } %>
                </section>
                <% }%>
        </main>
    </div>
    <script type="module" src="/script/main.js"></script>
</body>

</html>